html {
 
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  html {
    font-size: 625%;
  }
  @media screen and (max-width: 360px) {
    html {
      font-size: 300%;
    }
  }
  @media screen and (min-width: 361px) {
    html {
      font-size: 375%;
    }
  }
  @media screen and (min-width: 481px) {
    html {
      font-size: 500%;
    }
  }
  @media screen and (min-width: 561px) {
    html {
      font-size: 625%;
    }
  }
  @media screen and (min-width: 751px) {
    html {
      font-size: 750%;
    }
  }
  @media screen and (min-width: 961px) {
    html {
      font-size: 250%;
    }
  }