@import './common-variables.scss';
$images-url:$images-root-url+'/mp-users';
$header-image:$images-url+'/title_D.png';
$spread-url:$images-url+'/C1';
$topic-url:$images-url+'/C2';
@function author-img($order) {
    @return $images-url+'/avatar_D'+$order+'.png';
}

.list.mpusers {
    margin-top: -1px;
    padding-top: px2rem(114px);
    padding-bottom: px2rem(20px);
    background-image: url($background-image2); // 标题
    .list-header {
        // background-image: url($header-image);
    } // 导航
    .authors {
        display: flex;
        display: -webkit-flex;
        flex-wrap:  wrap ;
        margin: px2rem(50px) px2rem(55px) px2rem(100px);
    }
    .author {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        color: #FFEEBA;
        text-align: center;
        margin:0 0 px2rem(50px);
        // margin:px2rem(50px) px2rem(0);
    }
    // $i: 1;
    // @while $i < 11 {
    //     .author .bg-top#{$i} {
    //         background: url(author-img($i)) no-repeat;
    //         background-size: 100% 100%;
    //     }
    //     $i: $i+1;
    // }
    .bg {
        width: px2rem(100px);
        height: px2rem(140px);
    }
    .verb {
        height: auto;
        width: px2rem(160px);
        font-size:px2rem(28px);
        line-height: px2rem(39px);
        margin:px2rem(24px) auto px2rem(20px);
    }

    .author:last-child .verb{
        width: px2rem(200px);
    }
}